body {
  background-color: #80deea;
  padding-top: 50px; /* اگر ارتفاع هدر 100px هست */
}
header {
  position: fixed;
  top: 10px;
  left: 0;
  margin-bottom: 10px;
  padding-bottom: 15px;
  width: 100%;
  z-index: 9999;
}

/* .body-img{
    width: 1900px;
    background-image: url("../img/backg.jpg");
    height: 850px;
} */
.login-cart {
  display: flex;
  gap: 1rem;
  margin-right: 79rem;
  margin-top: 1rem;
  position: absolute;
  align-items: center;
  text-align: center;
}
.login {
  text-decoration: none;
}
.cart-img {
  width: 2.5rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.cart-badge {
  text-align: center;
  font-size: 0.8rem;
  background-color: #00ff2a;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: #000;
  position: absolute;
  right: -1rem;
  top: -0.5rem;
  text-align: center;
}

.head-menu-img {
  width: 90px;
  margin-right: 25px;
  margin-top: -21px;
  position: relative;
  cursor: pointer;
}

.header-important-img {
  display: flex;
  width: 120px;
  height: 130px;
  margin-right: 1600px;
  margin-top: -65px;
  position: absolute;
}
.header-important-img1 {
  display: flex;
  width: 120px;
  height: 130px;
  margin-right: 1600px;
  margin-top: -115px;
  position: absolute;
}
.completed-head-menu-img {
  width: 29px;
  margin-right: 15px;
  margin-top: 3px;
  position: absolute;
  cursor: pointer;
  transition: all 400ms;
}
.spanidmenuimgtext {
  text-decoration: none;
  margin-top: 10px;
  margin-right: -25px;
  font-size: 25px;
  position: absolute;
  color: #98f400;
}
.imgbuttn {
  width: 400px;
}

.head-divmenu {
  width: 1750px;
  margin: 0 auto;
  height: 100px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  text-align: center;
}
.forhead-menu {
  width: 130px;
  height: 50px;
  margin-top: -73px;
  margin-right: 10px;
  position: absolute;
  margin-right: 10px;
  align-items: center;
  text-align: center;
}
.allheadmenu {
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  margin-right: -100rem;
  gap: 10rem;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
.head-menu-img1 {
  width: 90px;
  margin-right: 55px;
  margin-top: -34px;
  position: absolute;
  cursor: pointer;
}
.completed-head-menu-img1 {
  width: 29px;
  margin-right: 195px;
  margin-top: -8px;
  position: absolute;
  cursor: pointer;
  transition: all 400ms;
}
.spanidmenuimgtext1 {
  text-decoration: none;
  margin-top: -1px;
  margin-right: 125px;
  font-size: 21px;
  position: relative;
  color: #98f400;
  white-space: nowrap;
}
.mgbuttn1 {
  width: 400px;
}
.forhead-menu1 {
  width: 60px;
  height: 33px;
  margin-right: 200px;
  position: absolute;
  margin-top: -61px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
.head-menu-img2 {
  width: 90px;
  margin-right: 155px;
  margin-top: -32px;
  position: absolute;
  cursor: pointer;
}
.completed-head-menu-img2 {
  width: 29px;
  margin-right: 290px;
  margin-top: -8px;
  position: absolute;
  cursor: pointer;
  transition: all 400ms;
}
.spanidmenuimgtext2 {
  text-decoration: none;
  margin-right: 225px;
  font-size: 21px;
  position: relative;
  color: #98f400;
}
.imgbuttn2 {
  width: 400px;
}
.forhead-menu2 {
  width: 30px;
  height: 33px;
  margin-right: 345px;
  position: absolute;
  margin-top: -61px;
}
/* ///////////////////////////////_head-menu-css_///////////////////////////////////////////////////////////////////////// */
.product-container {
  width: 1750px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 25px;
  margin-top: 60px;
  z-index: 1;
}
.product-div {
  width: 320px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  background-color: #7bb1ff;
  display: flex;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  flex-direction: column;
}
.button-forcart {
  background-color: #a8d8fc;
  width: 34px;
  height: 2rem;
  border-radius: 1rem;
  margin-top: 6rem;
  margin-right: 17rem;
  align-items: center;
  text-decoration: none;
  text-align: center;
  display: flex;
  margin: 0.3rem, 0.5rem;
  justify-content: center;
  transition: all 350ms;
}
.cart-a-tag {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  color: #ffffff;
  transition: opacity 0.4s ease;
  font-size: 16px;
  z-index: 1;
  text-decoration: none;
}
.button-forcart:hover {
  background-color: #2f72b5;
  color: #1500f5b8;
  width: 110px;
  margin-right: 13rem;
}
.button-forcart:hover .cart-a-tag {
  opacity: 1;
}
.product1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
.beuty-button {
  background-color: #ffffff;
  width: 150px;
  height: 40px;
  margin: 225px auto;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-circle {
  width: 40px;
  height: 40px;
  background-color: #11385e;
  border-radius: 100%;
  float: right;
  margin-right: -110px;
  position: absolute;
  z-index: 1;
}
.beuty-button h6 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: flex;
  font-size: 20px;
  position: absolute;
  z-index: 1;
}
.product1-h4 {
  font-size: 15px;
  margin-right: 10px;
  margin-top: 265px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product1-h6 {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 365px;
  position: absolute;
}

.product-discount {
  width: 35px;
  height: 15px;
  border-radius: 4px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 335px;
  margin-right: 15px;
  position: absolute;
  font-size: 13px;
  color: #1976d2;
  background-color: #a8d8fc;
}
.numberof-discount {
  font-size: 15px;
  margin-top: 334px;
  margin-right: 57px;
  position: absolute;
}
.coach-box {
  width: 1750px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: -14rem;
  z-index: 1;
}
.coach-div {
  width: 385px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  background-color: #ffffff;
  display: flex;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin-bottom: 35px;
}
.coach-img {
  width: 100%;
  height: 100%s;
  border-radius: 20px;
}
/* ////////////////////////////////////////////////////_ads-div_/////////////////////////////////////////////////////////////// */
.ads-div {
  width: 1750px;
  height: 300px;
  background-color: #1500f5b8;
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ads-div h1 {
  text-align: center;
  font-size: 35px;
  color: #59ff00;
}
/* ////////////////////////////////////////////////_footer_//////////////////////////////////////////////////////////////////// */
footer {
  width: 1780px;
  margin-top: 100px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.social-network {
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 80px;
  display: flex;
  gap: 20px;
  margin-top: -35px;
  margin-bottom: 11px;
  margin-right: -15px;
  background-color: rgba(98, 0, 255, 0.3);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
  float: left;
  transition: all 400ms;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}
.social-network-div {
  width: 1780px;
  margin-top: 250px;
  padding-left: 15px;
  margin-left: 65px;
  float: left;
}
.social-network img {
  width: 60px;
  height: 60px;
  display: flex;
}
.social-network:hover {
  padding-right: 200px;
  margin-right: 5px;
  margin-left: 17px;
  box-shadow:
    0 8px 12px 0 rgba(1, 1, 1, 0.9),
    6px 6px 20px 12px rgba(0, 0, 0, 0.25);
}
.social-network-div h3 {
  display: flex;
  float: left;
  text-align: left;
  padding-right: 6px;
  margin-top: -10px;
  margin-left: -50px;
}
.social-network-spantext {
  position: absolute;
  left: 70px; /* فاصله از آیکون */
  white-space: nowrap;
  opacity: 0;
  color: #000;
  transition: opacity 0.4s ease;
  font-size: 16px;
  z-index: 0;
}
.social-network:hover .social-network-spantext {
  opacity: 1;
}
.line {
  color: blue;
  padding-bottom: 45px;
  text-shadow: 2px 2px 3px #59ff00;
  text-align: center;
  align-items: center;
}
.h1-footer {
  width: 1750px;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: absolute;
  padding-bottom: 100px;
  display: flex;
  text-shadow: 2px 2px 3px #59ff00;
}
/* /* /////////////////////////////////////////////////////////////*******_shoping-cart_/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// * */
.product-cart {
  width: 780px;
  height: 100px;
  background-color: #ffff;
  background-color: rgba(98, 0, 255, 0.3);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
  margin-right: 45px;
  border-radius: 15px;
  margin-top: 30px;

  display: flex;
  gap: 50px;
}
.all-product-cart {
  margin-top: 100px;
  margin-right: -20px;
  position: absolute;
}
.product1-cart {
  width: 180px;
  height: 100px;
  margin-right: -410px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.product1-h4-cart {
  font-size: 15px;
  margin-right: -75px;
  margin-top: 265px;
  position: absolute;
  margin-top: 75px;
}
.product1-h6-cart {
  color: #000;
  font-size: 20px;
  margin-right: -30px;
}
.product-discount-cart {
  width: 35px;
  height: 15px;
  border-radius: 4px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 335px;
  margin-right: -35px;
  position: absolute;
  font-size: 13px;
  color: #1976d2;
  background-color: #a8d8fc;
  margin-top: 29px;
}
.numberof-discount-cart {
  font-size: 15px;
  padding-right: 130px;
  position: absolute;
  margin-top: 1px;
}
.del-item {
  position: absolute;
  width: 2.5rem;
  margin-right: 23rem;
  cursor: pointer;
}
/* .quantity{
    margin-right: 630px;
    margin-top: 45px;
    width: 3rem;
    height: 2rem;
    background-color:#6200ff4d;
    color: #000000;
    border-radius: 1px solin gold;
    border: #000;
    position: absolute;
    border-radius: 10px;
    font-weight: bold;   
     opacity: 1;     

} */
.quantity {
  width: 60px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  border: 2px solid #ff5722; /* رنگ مرزی جذاب */
  border-radius: 8px; /* گوشه‌های گرد */
  outline: none; /* برداشتن هایلایت پیش‌فرض */
  transition: all 0.4s ease; /* انیمیشن ملایم */
  margin-right: 600px;
  margin-top: 45px;
}

/* وقتی روش فوکوس می‌کنی */
.quantity:focus {
  border-color: #1e54e9;
  box-shadow: 0 0 8px rgba(74, 30, 233, 0.6);
}

.quantity::placeholder {
  color: #1eff00; /* رنگ placeholder */
  font-weight: bold; /* ضخیم‌تر */
  opacity: 1; /* مطمئن بشی کم‌رنگ نشون داده نمیشه */
}

/* ////////////////////////////////////////////////////// */
.user-dropdown {
  position: relative;
  display: inline-block;
  direction: rtl;
  font-family: "Vazir", sans-serif;
}

.user-info {
  background-color: #0038ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #0031ffdd;
  border-radius: 10px;
  min-width: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: #4dff00;
  text-decoration: none;
  border-bottom: 1px solid #6700ff;
  background-color: #0031ffdd;
  border-radius: 10px;
}

.dropdown-menu a:last-child {
  border-bottom: none;
  border-radius: 10px;
}

.dropdown-menu a:hover {
  background-color: #0077ff;
  border-radius: 10px;
}
/* _________________________________________________________ */

/* ///////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.left-div-class {
  width: 500px;
  height: 400px;
  background-color: #80deea;
  border-radius: 65px;
  float: left;
  margin-left: 35px;
  margin-top: 130px;
  border: 1px dashed blue;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  display: flex;
}
.left-div-class h2 {
  align-items: center;
  text-align: center;
  color: #000;
  margin: 45px auto;
  font-size: 2rem;
}
.left-div-class h5 {
  margin: 1rem 2.5rem;
  font-size: 1rem;
}
.pay-button {
  background-color: #0031ffdd;
  width: 10rem;
  height: 2.5rem;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
  cursor: pointer;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////for responsiv part///////////////////////// */
@media only screen and (max-width: 1200px) {
}
