@font-face {
    font-family: 'Vazirmatn';
    src: url('fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
         url('fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }


body{
    background:rgb(20, 20, 226);
    text-decoration: none;
}
.LK{
    text-align: center;
    background-color:whitesmoke;
    width: 500px;
    height: 680px;
    margin-top: -175px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}
.form a{
    text-decoration: none;
    color: blue;
}
.lable{
    margin-bottom: 500px;
   
    margin: 105px 350px;
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
    font-family: 'Vazirmatn';
}
.usename{

    width: 410px;
    height: 50px;
    margin-right: 15px;
    margin-top: 85px;
    margin-bottom: 1px;
    border-radius: 5px;
}
.userpas{
   border-radius: 5px;
    width: 410px;
    height: 50px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 1px;

}
.useconf{
    border-radius: 5px;
    width: 410px;
    height: 50px;
    margin-right: 15px;
    margin-top: 23px;
    margin-bottom: 1px;

}

.textknow{
    margin-right: 3px;
    margin-top: 20px;
}


.dashes{
    margin-top: -12px;
    margin-left: 250px;
    margin-right: 280px;
    color: #9EC8B9;
}
.dashes1{
    margin-top: 1px;
    margin-right: -220px;
    color: #9EC8B9;
    margin-top: -55px;
}
.text{
    margin-top: -27px;
    color: #646a68;
    font-size: 15px;
    margin-right: 6px;
    font-family: 'Vazirmatn';
}
.facebook{
    background-color: rgb(25, 73, 218);
    margin-top: -53px;
    text-decoration: none;
    width: 430px;
    height: 55px;
    background-color:rgb(35, 99, 208);
    margin-right: 29px;
    border-radius: 5px;
    text-decoration: none;
}
.last_taskbar{
    margin-top: 40px;
    margin-bottom: 2px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Vazirmatn';
    text-decoration: none;
   
}
.img{
    width: 25px;
    float: left;
    margin-top: 13px;
    margin-left: 50px;
}
.Google{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-top: 27px;
    width: 430px;
    height: 50px;
    background-color:rgb(255, 255, 255);
    margin-right: 29px;
    border-radius: 5px;
    
}
.last_taskbar1{
    margin-top: 55px;
    margin-bottom: -115px;
    font-family: 'Vazirmatn';
    text-decoration: none;
    
}
.img1{
    width: 25px;
    float: left;
    margin-top: 99px;
    margin-left: -24px;
}
.errortext{
    display:none;
    color: darkred;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    text-decoration: none;
}
.btn {
    font-size: 20px;
    width: 410px;
    height: 50px;
    margin-left: -13px;
    margin-top: 25px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

.btn1{
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-left: -13px;
    margin-bottom: -75px;
    margin-top: -45px;
    color: white;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
   
}

.errormsg{
    display: none;
    color: red;
}
.errormsg1{
    display: none;
    color: red;
}
.errormsg2{
    color: darkred;
    display: none;
}