@font-face {
    font-family: 'Vazirmatn';
    src: url('fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
         url('fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

.basic-head-menu{
    width: 102%;
    height: 100px;
    margin-top: -10px;
    margin-left: -20px;
    background:url('../img/header.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
.basic-head-menu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 350px;
    margin-top: 20px;
}
.basic-head-menu h3{
    margin-left:425px;
    margin-top: -37px;
    color: #fff;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 13px;
}
.head-menu{
    margin-top: -55px;
    margin-right: 200px;
}
.head-menu ul{
   
    text-decoration: none;
    list-style: none !important;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
   
}
.head-menu li{
    position: relative;
    width: auto;
    white-space: nowrap;
    float: right;
    padding-left: 100px;
}
.head-menu a{
  
    font-size: 30px;
    color: #fff;
    line-height: 0px;
    padding-bottom: 29px;
    position: relative;
}
.body-menu{
    width: 50%;
    height: 225px;
    background-color: #fff;
    margin-top: 155px;
    margin-left: 280px;
    box-shadow: 0 0 7px 0 #eaeff4;
    border: 1px solid #ecf0f4;
    border-radius: 5px;
}
.body-menu header{
    border-bottom: 1px solid #eff2f5;
    padding: 4px 0;
    position: relative;
    /* float: right; */
}
.body-menu h2{
    padding: 0px 18px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.body-menu h3{
    font-size: 15px;
    width: 90%;
    margin-left: 25px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.butten{
    background-color: #6fc341;
    color: #fff;
    border-radius: 5px;
    width: 135px;
    height: 33px;
    margin-top: -50px;
    margin-left: 305px;
    text-align: center;
}
.butten a{
    text-decoration: none;
    margin-top: 2px;
    padding-top: 4px;
}
.body-menu h6{
    color: #686e71;
    margin-right: 15px;
    font-size: 20px;
}
.right-menu{
    width: 345px;
    height: 567px;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 #eaeff4;
    position: relative;
    border: 1px solid #ecf0f4;
    background-color: #fff;
    float: right;
    margin-right: 105px;
    margin-top: -593px;
}
.right-menu ul li a{
    text-decoration: none;
    color: #2d3339;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    padding-right: 12px;
    position: relative;
    color: #2d3339;
    display: block;
    margin-top: 10px;
}
.right-menu ul{
    margin-top: 300px;
}
.right-menu ul li a:hover{
    color: blue;
    line-height: 30px;
}
/* ////////////////////////////////////////////////////////////////////////////// */

.modal {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 350ms;
   
  }
  
  /* Modal Content */
  .modal-content {
    border-radius: 2rem;
    position: relative;
    background-color: #d9ded1;
    margin: auto;
    padding: 0;
    border: 1px solid #f30000;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
   
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  .modal-header {
    padding: 0px 10px;
    background-color: #5cb85c;
    color: white;
    border-radius: 1.5rem;
  }
  .close{
    cursor: pointer;
    font-size: 30px;
  }
  
  .modal-body {
    padding: 30px 15px;
    margin-top: -30px;
}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border-radius: 1.5rem;
  }
/* ////////////////////////////////////////////////////////////////////////////////////////////////////   */
.usename{

    width: 210px;
    height: 50px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.userpas{
   border-radius: 5px;
    width: 210px;
    height: 50px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 1px;

}
.btn {
    font-size: 20px;
    width: 80px;
    height: 30px;
    margin-left: -13px;
    margin-top: 25px;
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 3rem;
}
